---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ann M. Thane";
---
<BaseLayout title={pageTitle}>
	<header style="text-align: center; margin-bottom: 4rem;">
		<h1>ANN M. THANE</h1>
		<p style="font-size: 1.2rem; color: var(--text-main);">artist • explorer • mom</p>
	</header>

	<section>
		<h2>WELCOME TO MY GALLERY</h2>
		<p>
			Over the years, I have explored a variety of mediums and have discovered that I love more than one. Primarily, I favor mixed-media illustrations but am happy burning wood (pyrography), embellishing shells, beading jewelry, writing poetry, tackling the living soul that is clay, or hosting social media sites (which can really be so fulfilling when other forms of expression are unavailable!)
		</p>
		<p>
			I find that expressing myself artistically is not a choice; it is what I have been born to do, just like some people have a talent for car mechanics or baking. Whatever that higher power is out there channels through me via the arts.
		</p>
	</section>

	<section>
		<h2>THE WOMEN</h2>
		<p>
			My collaged illustrations express the beauty of the female form, psychology and sexuality. I portray singular subjects that give voice to my own struggles with aging, dignity, grief, vanity and power. I am interested in commonly shared emotions of women, as these reflect the gravity and complexity of the feminine experience. I think this a particularly timely theme given what has been going on in the political sphere both nationally and globally.
		</p>
		<p>
			My renderings are done with pencil, ink, pastels, spray paint and collage. I enjoy juxtaposing textural backgrounds with the soft yet solid form of the figure to enhance the esoteric aspects of each piece. For several of the most recent pieces, I have chosen ornamental frames that augment each subject, a nod to neoclassical times long past.
		</p>
	</section>

	<section>
		<h2>THE REST</h2>
		<p>
			Please check out the Mosaics page in this blog! It’s what I’m working on now!
		</p>
		<p>
			I’ll post images of the pyrography, jewelry, pottery, and other miscellaneous or special things… a few murals and work from my early years, when I didn’t understand that I had already found an artistic voice. I hope you enjoy the fruits of my journey.
		</p>
	</section>

	</section>
</BaseLayout>
